@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  @layer responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}


@layer components {
  .hero-gradient {
    @apply bg-gradient-to-br from-bpurplePrimary to-black; /* Diagonal gradient */
  }
  .cta-button {
    @apply bg-gradient-to-r from-white to-white text-bpurpleDark py-3 px-6 rounded-lg hover:scale-105 transition-all duration-300;
  }
  .cta-secondary {
    @apply border-2 border-lavender text-lavender py-3 px-6 rounded-lg hover:bg-lavender hover:text-bpurpleDark transition-all duration-300;
  }
  .glow {
    @apply transition-all duration-300 hover:shadow-[0_0_15px_5px_rgba(168,85,247,0.5)];
  }
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}